@model IEnumerable<TheForgiveness.Models.evaluacionModel>

@{
    ViewBag.Title = "GetEvaluations";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../Assets/Css/Subject/create.min.css";
}

<h1>Listado de Evaluaciones</h1>
<hr />

<script>
    $(document).ready(function () {
        $('#eva').DataTable();
    });
</script>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="eva">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Calificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEvaluacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Actividad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grupo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante)
            </th>
            <th>Acción</th>
        </tr>
    </thead>

    <tbody>
        @{
            if (ViewBag.rol == "Docente")
            {
                foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Calificacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaEvaluacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Actividad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grupo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estudiante)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-outline-warning" })
                            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-outline-success" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
                        </td>
                    </tr>
                }
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Calificacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaEvaluacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Actividad)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grupo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Estudiante)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-outline-warning" })
                        </td>
                    </tr>
                }
            }
        }
    </tbody>

</table>
