
@{
    Layout = null;
}

@model TheForgiveness.Models.usuarioModel
<!DOCTYPE html>
<html lang="Es">

<head>
    <meta charset="utf-8" />
    <meta charset="ISO-8859-1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login</title>
    <link rel="icon" type="image/jpg" href="~/favicon.jpg" />
    <link href="~/Assets/Css/Login/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/LoginCss")
</head>
<body>
    <div class="container-fluid">
        <div class="Content">
            <div class="Left">
                <br>
                @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @accept_charset = "utf-8" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="lb-bold">Nombre de Usuario:</label>
                        <div class="wrap-input" data-validate="UserName is required">
                            <input class="input" type="text" name="UserName" placeholder="Nombre de Usuario:" value="">
                            <span class="focus-input"></span>
                            <span class="symbol-input">
                                <i class="fa fa-address-book" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="lb-bold">Contraseña:</label>
                        <div class="wrap-input" data-validate="Password is required">
                            <input class="input" type="password" name="Password" placeholder="Contraseña" value="">
                            <span class="focus-input"></span>
                            <span class="symbol-input">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <br>
                    <div class="form-group div-sub">
                        <input type="submit" name="" class="btn-click lb-bold" id="btn" onclick="return validateForm();" value="Iniciar sesión">
                    </div>
                }
                <br>
                <hr>
                <br>
                <div class="NoUser">
                    <span><b>¿Aun no tienes cuenta? @Html.ActionLink("Regístrate aquí.", "SignUp", "Home")</b></span>

                </div>
                <div class="NoUser Nopassword">
                    <span><b>@Html.ActionLink("¿Olvidaste tu constraseña?", "ResetPassword", "Home", new { @class = "np" })</b></span>

                </div>
                <br>
            </div>
            <div class="Right">
                <h1 class="c-b">Bienvenido a  TheForgiveness</h1>
                <span class="c-b"><p>Inicia sesión para acceder a tu contenido</p></span>
                <figure>
                    <img src="~/Assets/Img/Login/Login.png" width="420" height="440">
                </figure>
                <br>
            </div>
        </div>
    </div>
    @Scripts.Render("~/LoginJs")
</body>
</html>
