@model TheForgiveness.Models.municipioModel

@{
    ViewBag.Title = "Municipality";
    Layout = "~/Views/Shared/DashBoard.cshtml";
}

<h2>Municipality</h2>

<div>
    <h4>municipioModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
