@model IEnumerable<TheForgiveness.Models.ConceptForgivenessModel>

@{
    ViewBag.Title = "Listado Conceptos";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../../Assets/Css/Subject/create.min.css";
}

<h1>Listado de Conceptos</h1>
<hr />
<script>
    $(document).ready(function () {
        $('#con').DataTable();
    });
</script>
<p>
    @Html.ActionLink("Crar Nuevo", "CreateConcept")
</p>
<table class="table" id="con">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AñoPublicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>Accion</th>
        </tr>
    </thead>

    <tbody>

        @{
            if (ViewBag.rol == "Administrador")
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>

                            @Html.DisplayFor(modelItem => item.AñoPublicacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titulo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Autor)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "UpdateConcept", new { id = item.ID }, new { @class = "btn btn-outline-warning" })
                            @Html.ActionLink("Detalle", "SpecifyConcept", new { id = item.ID }, new { @class = "btn btn-outline-success" })
                            @Html.ActionLink("Eliminar", "DeleteConcept", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
                        </td>
                    </tr>
                }
            }
            else
            {

                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AñoPublicacion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Titulo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Autor)
                            </td>
                            <td>
                                @Html.ActionLink("Detalle", "SpecifyConcept", new { id = item.ID }, new { @class = "btn btn-outline-success" })
                                <button class="btn btn-circle">Escuchar</button>
                                <button class="btn btn-circle">Video</button>
                            </td>
                        </tr>
                    }
            }
        }
    </tbody>


</table>

