@model TheForgiveness.Models.GroupModel

@{
    ViewBag.Title = "Eliminar Grupo";
    Layout = "~/Views/Shared/DashBoard.cshtml";
     ViewBag.Style = "../../Assets/Css/Subject/create.min.css";
    ViewBag.Js = "../../Assets/Js/Delete/sweet.js";
}

<h1>Eliminar Grupo</h1>

<h3 class="text-center">Esta seguro que desea eliminar esto?</h3>
<hr />
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AñoEscolar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AñoEscolar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Docente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asignatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asignatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colegio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colegio)
        </dd>

    </dl>
    <hr />
    @using (Html.BeginForm("DeleteGroup", "Group", FormMethod.Post)) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-outline-danger" /> |
            @Html.ActionLink("Regresart", "GetGroup")
        </div>
    }
</div>
