@model IEnumerable<TheForgiveness.Models.GroupExtendModel>

@{
    ViewBag.Title = "Listado Grupo";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../Assets/Css/Subject/create.min.css";
}

    <script>
    $(document).ready(function () {
        $('#gp').DataTable();
    });
    </script>
<h1>Listado de Grupo</h1>
<hr />
<p>
    @Html.ActionLink("Create New", "CreateGroup")
</p>
<table class="table" id="gp">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AñoEscolar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Docente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Asignatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colegio)
            </th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>

        @{
            if (ViewBag.rol == "Docente")
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AñoEscolar)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Docente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Asignatura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Colegio)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "UpdateGroup", new { id = item.ID }, new { @class = "btn btn-outline-warning" })
                            @Html.ActionLink("Details", "SpecifyGroup", new { id = item.ID }, new { @class = "btn btn-outline-success" })
                            @Html.ActionLink("Delete", "DeleteGroup", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
                        </td>
                    </tr>
                }
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AñoEscolar)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Docente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Asignatura)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Colegio)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "SpecifyGroup", new { id = item.ID }, new { @class = "btn btn-outline-success" })
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
