@model gupoextendido

@{
    ViewBag.Title = "SpecifyGroup";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../Assets/Css/Subject/create.min.css";
}

<h1>Detalle del grupo</h1>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AñoEscolar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AñoEscolar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Docente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asignatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asignatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colegio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colegio)
        </dd>

    </dl>
    <script>
    $(document).ready(function () {
        $('#gp').DataTable();
    });
    </script>
    <table class="table" id="gp">
        <thead>
            <tr>
                <td>NOMBRE</td>
                <td>ACCION</td>
            </tr>
        </thead>
        <tbody>
            @{foreach (System.Data.DataRow dr in ViewBag.personas.Rows)
                {
                    <tr>
                        <td>@Html.Raw(dr["Nombre"].ToString()) </td>
                        <td>
                            @Html.ActionLink("Edit", "UpdateGroup", "GroupPersons", new { grupo = int.Parse(dr["Grupo"].ToString()), estudiante = int.Parse(dr["Estudiante"].ToString()) }, new { @class = "btn btn-outline-warning" })
                            @Html.ActionLink("Details", "SpecifyStudent", "Student", new { ID = int.Parse(dr["NumIdentificacion"].ToString()) }, new { @class = "btn btn-outline-success" })
                            @Html.ActionLink("Delete", "DeleteGroup", "GroupPersons", new { grupo = int.Parse(dr["Grupo"].ToString()), estudiante = int.Parse(dr["Estudiante"].ToString()) }, new { @class = "btn btn-outline-danger" })
                        </td>
                    </tr>
                }

            }
        </tbody>
        <tfoot>
            <tr>
                <td>NOMBRE</td>
                <td>ACCION</td>
            </tr>
        </tfoot>
    </table>


</div>
<p>
    @{
        if (ViewBag.rol == "Docente")
        {
            @Html.ActionLink("Edit", "UpdateGroup", new { id = Model.ID }, new { @class = "btn-outline-warning" })
        }
    }

    @Html.ActionLink("Back to List", "GetGroup")
</p>
