@model TheForgiveness.Models.grupoModel

@{
    ViewBag.Title = "SpecifyGroup";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../Assets/Css/Subject/create.min.css";
}

<h1>Detalle del grupo</h1>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AñoEscolar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AñoEscolar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Docente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Docente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asignatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asignatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Colegio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Colegio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new {  @class = "btn-outline-warning"}) |
    @Html.ActionLink("Back to List", "Index")
</p>
