@model IEnumerable<TheForgiveness.Models.colegioModel>

@{
    ViewBag.Title = "GetSchools";
    Layout = "~/Views/Shared/DashBoard.cshtml";
}

<h2>Listado Colegios</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Municipio)
        </th>
        <th></th>
    </tr>

    @{
        if (ViewBag.rol == "Docente")
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Municipio)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Municipio)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    </td>
                </tr>
            }
        }
    }
</table>

<script>

</script>