@model IEnumerable<TheForgiveness.Models.colegioModel>

@{
    ViewBag.Title = "GetSchools";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../Assets/Css/Subject/create.min.css";
}

<h1>Listado Colegios</h1>
<hr />
<script>
    $(document).ready(function () {
        $('#schools').DataTable();
    });
</script>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="schools">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipio)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @{
            if (ViewBag.rol == "Docente")
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Municipio)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "UpdateSchool", new { id = item.ID }, new { @class = "btn btn-outline-warning" })
                            @Html.ActionLink("Details", "SpecifySchool", new { id = item.ID }, new { @class = "btn btn-outline-success" })
                            @Html.ActionLink("Delete", "DeleteSchool", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
                        </td>
                    </tr>
                }
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Municipio)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "SpecifySchool", new { id = item.ID }, new { @class = "btn btn-outline-warning" })
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

<script>

</script>