@model TheForgiveness.Models.SchoolViewModel

@{
    ViewBag.Title = "Colegio Especifico";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../../Assets/Css/Subject/create.min.css";
}

<h1>Detalle del colegio</h1>
<hr />
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "UpdateSchool", new { id = Model.ID }, new { @class = "btn btn-outline-warning" })
    @Html.ActionLink("Regresar", "GetSchools")
</p>

