@model TheForgiveness.Models.colegioModel

@{
    ViewBag.Title = "UpdateSchool";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../../Assets/Css/Subject/create.min.css";
}

<h1>Modificar Colegio</h1>
<hr />

@using (Html.BeginForm("UpdateSchool", "School", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label">Departamento</label>
        <select name="Departamento" class="form-control" onchange="cargar(this.value)" required>
            <option value="default">SELECCIONE DEPARTAMENTO</option>
            @foreach (System.Data.DataRow row in ViewBag.departamento.Rows)
            {
                <option value=@row["ID"]>@row["Departamento"]</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label class="control-label" for="Municipio">Municipio</label>
        <select name="Municipio" class="form-control " id="Municipio" required>
            <option value="default">SELECCIONE MUNICIPIO</option>
        </select>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-outline-success" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "GetSchools")
</div>


<script>
    @{
       @:var municipio = @Html.Raw(ViewData["municipio"].ToString());
    }
        function cargar(id) {
            let ele = document.getElementById('Municipio');
            if (ele.length > 1) {
                let limite = ele.length;//defino variable, sino el length se refresca
                for (let i = 0; i < limite; i++)
                    ele.remove(ele.children[i]);
                let option = document.createElement("option");
                ele.add(option);
            }
            for (let i = 0; i < municipio.length; i++) {
                if (municipio[i].Departamento === parseInt(id)) {
                    let option = document.createElement("option");
                    option.text = municipio[i].Municipio;
                    option.value = municipio[i].ID;
                    ele.add(option);
                }
            }
        }
</script>
