<!DOCTYPE html>
<html dir="ltr" lang="es">
<head>
    <meta charset="utf-8" />
    <meta charset="ISO-8859-1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Assets/Img/DashBoard/favicon.png">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/DashBoardCSS")
    <link href="@ViewBag.Style" rel="stylesheet" />
    @Scripts.Render("~/JQRequired")
</head>
<body >
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"><img src="~/Assets/Icon/menu.svg" alt="Alternate Text" /></i></a>
                    <a class="navbar-brand" href="@Url.Action("Index","DashBoard")" style="background:#66ba2c">
                        <b class="logo-icon p-l-10">
                            <i class="mdi"><img src="~/Assets/Icon/LogoIcon.svg" alt="homepage" class="light-logo" onclick="" /></i>
                        </b>
                        <b class="logo-text">
                            <i class="mdi"><img src="~/Assets/Img/DashBoard/logo.PNG" alt="homepage" class="light-logo ico" id="ico" /></i>
                        </b>
                    </a>
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <ul class="navbar-nav float-left mr-auto">
                        <li class="nav-item d-none d-md-block">
                            <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar">
                                <i class="mdi mdi-menu font-24"><img src="~/Assets/Icon/menu.svg" alt="Alternate Text" /></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav float-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="~/Assets/Img/DashBoard/d3.jpg" alt="user" class="rounded-circle" width="31">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated">
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i class="mdi"><img src="~/Assets/Icon/k23f8.svg" alt="User/rol" /></i>@Session["username"] /<b style="color:forestgreen"> @Session["Role"]</b>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Profile","Profile")">
                                    <i class="mdi"><img src="~/Assets/Icon/Profile.svg" alt="mi perfil" /></i> Mi Perfil.
                                </a>
                                <a class="dropdown-item" href="@Url.Action("User", "Profile")">
                                    <i class="mdi"><img src="~/Assets/Icon/configSS.svg" alt="" /></i> Configuraciones de la cuenta
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Login", "Home")" onclick="@Session["control"] = 'Logout';">
                                    <i class="mdi"><img src="~/Assets/Icon/Logout.svg" alt="Alternate Text" /></i> Cerrar sesión
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar" data-sidebarbg="skin5">
            <div class="scroll-sidebar">
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-0">
                        <li class="sidebar-item sbitem">
                            <a class="sidebar-link waves-effect waves-dark sidebar-link" href="@Url.Action("Index", "DashBoard")" aria-expanded="false">
                                <i class="mdi"> <img src="~/Assets/Icon/DASHBOARD.svg" alt="Inicio" /></i>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        @{
                            var name = "";
                            int i = 1;
                            bool firts = true;
                            System.Data.DataTable menu = Session["dinMenu"] as System.Data.DataTable;
                            if (menu.Rows.Count > 0)
                            {
                                foreach (System.Data.DataRow item in menu.Rows)
                                {
                                    if (Convert.ToString(item["State"]) == "Activo" && Session["Role"].ToString() == "Estudiante")
                                    {

                                        if (name != Convert.ToString(item["Titulo_Vista"]))
                                        {
                                            name = Convert.ToString(item["Titulo_Vista"]);
                                            i = 0;
                                            if (i == 0 && firts != true)
                                            {
                                            @:</ul>
                                            @:</li>
                                        }
                                        else
                                        {
                                            firts = false;
                                        }
                                        @:<li class="sidebar-item sbitem">
                                            <a href="#" class="sidebar-link has-arrow waves-effect waves-dark">
                                                <i class="mdi"> <img src="@item["Icono_Vista"]" alt="" /></i>
                                                <span class="hide-menu">@item["Titulo_Vista"]</span>
                                            </a>
                                            @:<ul aria-expanded="false" class="collapse  first-level">
                                                <li class="sidebar-item sbitem2">
                                                    <a href="@Url.Action("" + item["Url_Vista"], "" + item["Url_Carpeta"])" class="sidebar-link">
                                                        <i class="mdi"><img src="@item["Icono_SubVista"]" alt="" /></i>
                                                        <span class="hide-menu">@item["Titulo_SubVista"]</span>
                                                    </a>
                                                </li>
                                                i++;
                                            }
                                            else
                                            {
                                                <li class="sidebar-item sbitem2">
                                                    <a href="@Url.Action("" + item["Url_Vista"], "" + item["Url_Carpeta"])" class="sidebar-link">
                                                        <i class="mdi"><img src="@item["Icono_SubVista"]" alt="" /></i>
                                                        <span class="hide-menu">@item["Titulo_SubVista"]</span>
                                                    </a>
                                                </li>
                                                i++;
                                            }
                                        }
                                        else
                                        {
                                            if (Session["Role"].ToString() == "Administrador" || Session["Role"].ToString() == "Docente")
                                            {

                                                if (name != Convert.ToString(item["Titulo_Vista"]))
                                                {
                                                    name = Convert.ToString(item["Titulo_Vista"]);
                                                    i = 0;
                                                    if (i == 0 && firts != true)
                                                    {
                                                    @:</ul>
                                                @:</li>
                                            }
                                            else
                                            {
                                                firts = false;
                                            }
                                            @:<li class="sidebar-item sbitem">
                                                <a href="#" class="sidebar-link has-arrow waves-effect waves-dark">
                                                    <i class="mdi"> <img src="@item["Icono_Vista"]" alt="" /></i>
                                                    <span class="hide-menu">@item["Titulo_Vista"]</span>
                                                </a>
                                                @:<ul aria-expanded="false" class="collapse  first-level">
                                                    <li class="sidebar-item sbitem2">
                                                        <a href="@Url.Action("" + item["Url_Vista"], "" + item["Url_Carpeta"])" class="sidebar-link">
                                                            <i class="mdi"><img src="@item["Icono_SubVista"]" alt="" /></i>
                                                            <span class="hide-menu">@item["Titulo_SubVista"]</span>
                                                        </a>
                                                    </li>
                                                    i++;
                                                }
                                                else
                                                {
                                                    <li class="sidebar-item sbitem2">
                                                        <a href="@Url.Action("" + item["Url_Vista"], "" + item["Url_Carpeta"])" class="sidebar-link">
                                                            <i class="mdi"><img src="@item["Icono_SubVista"]" alt="" /></i>
                                                            <span class="hide-menu">@item["Titulo_SubVista"]</span>
                                                        </a>
                                                    </li>
                                                    i++;
                                                }
                                            }
                                        }
                                    }


                                }
                                else
                                {
                                    <li class="sidebar-item">
                                        <a href="#" class="sidebar-link">
                                            <i class=""></i>
                                            <span class="hide-menu">NO FOUND</span>
                                        </a>
                                    </li>
                                }
                        }
                    </ul>
                </nav>
        </div>
    </aside>
    <div class="page-wrapper">

        <div class="container-fluid">
            <div class="card">
                @RenderBody()
            </div>
        </div>
        <footer class="footer text-center" id="ft">
            © All Rights Reserved: Ing Edna Rocio R. S. Designed and Developed by David Calderon && Julio Vásquez
            <br />
            Universidad de la Amazonia!
        </footer>
    </div>
</div>
<script src="~/Assets/Js/Active.js"></script>
@Scripts.Render("~/Validation", "~/DashBoardJS")
<script src="@ViewBag.Js"></script>
</body>
</html>