
@{
    ViewBag.Title = "GetStudent";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../Assets/Css/Subject/create.min.css";
}
    <script>
    $(document).ready(function () {
        $('#stud').DataTable();
    });
    </script>

<h1>Listado de Estudiantes</h1>

<p>
    @Html.ActionLink("Crear Estudiante", "CreateStudent")
</p>
<table class="table" id="stud">
    <thead>
        <tr>
            <th>
                Identificación
            </th>
            <th>
                Nombres
            </th>
            <th>
                Genero
            </th>
            <th>
                Asignatura
            </th>
            <th>
                Colegio
            </th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (ViewBag.rol == "Docente" || ViewBag.rol == "Administrador")
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.NumIdentificacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.PriNombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.SegNombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.PriApellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.SegApellido)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.FechaNacimiento)
                        </td>
                        <td>
                            @Html.Raw(ViewData["genero"])
                        </td>
                        <td>
                            @Html.Raw(ViewData["municipio"])
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-outline-warning" })
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-outline-success" })
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-outline-danger" })
                        </td>
                    </tr>
                
            }
            
            }
    </tbody>


</table>
