@model TheForgiveness.Models.studentModel

@{
    ViewBag.Title = "SpecifyStudent";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../../Assets/Css/Subject/create.min.css";
}

<h1>Detalle de Estudiante</h1>
<hr />
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumIdentificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumIdentificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio)
        </dd>

    </dl>
</div>
<hr />


<p>
    @Html.ActionLink("Edit", "UpdateStudent", new {  id = Model.NumIdentificacion  }, new { @class = "btn btn-outline-warning"}) 
    @Html.ActionLink("Back to List", "GetStudents")
</p>
