@model TheForgiveness.Models.PerfilModel
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "~/../../Assets/Css/Profile/profile.css";
    ViewBag.Js = "";
}



<div class="bg-img-traslucida">
    <div class="banner row">

        <div class="col-md-6 col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 cont-right">
            <h1>Hi !</h1>
            <h6>@Html.DisplayFor(model => model.PriNombre) @Html.DisplayFor(model => model.PriApellido)</h6>
            <ul class="address">
               <h3>Tus Datos</h3>
                <li>
                    <ul class="address-text">
                        <li><b>@Html.DisplayNameFor(model => model.NumIdentificacion)</b></li>
                        <li> @Html.DisplayFor(model => model.NumIdentificacion)</li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b>@Html.DisplayNameFor(model => model.PriNombre)</b></li>
                        <li>@Html.DisplayFor(model => model.PriNombre)</li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b>@Html.DisplayNameFor(model => model.SegNombre)</b></li>
                        <li>@Html.DisplayFor(model => model.SegNombre)</li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b>@Html.DisplayNameFor(model => model.PriApellido)</b></li>
                        <li>@Html.DisplayFor(model => model.PriApellido)</li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b>@Html.DisplayNameFor(model => model.SegApellido)</b></li>
                        <li> @Html.DisplayFor(model => model.SegApellido)</li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b> @Html.DisplayNameFor(model => model.FechaNacimiento)</b></li>
                        <li>@Html.DisplayFor(model => model.FechaNacimiento)</li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b>@Html.DisplayNameFor(model => model.Edad)</b></li>
                        <li> @Html.DisplayFor(model => model.Edad)</li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b>@Html.DisplayNameFor(model => model.Genero)</b></li>
                        <li>@Html.DisplayFor(model => model.Genero)</li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b>@Html.DisplayNameFor(model => model.TipoDocumento)</b></li>
                        <li>@Html.DisplayFor(model => model.TipoDocumento)</li>
                    </ul>
                </li>
                <li>
                    <ul class="address-text">
                        <li><b> @Html.DisplayNameFor(model => model.Municipio)</b></li>
                        <li>@Html.DisplayFor(model => model.Municipio)</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-6 header-left">
            <img src="https://img.elcomercio.pe/files/article_content_ec_fotos/uploads/2019/05/02/5ccbb8c670cf5.jpeg" alt="" id="imgprofile">
        </div>
        <div class="clearfix"></div>
    </div>
</div>

