@model IEnumerable<TheForgiveness.Models.asignaturaModel>

@{
    ViewBag.Title = "GetSubjects";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../Assets/Css/Subject/create.min.css";
}

<script>
    $(document).ready(function () {
        $('#asig').DataTable();
    });
</script>
<h1>Listado de Asignaturas</h1>

<p>
    @Html.ActionLink("Create New", "CreateSubject")
</p>
<table class="table" id="asig">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                Accion
            </th>
        </tr>
    </thead>

    <tbody>
        @{
            if (ViewBag.rol == "Administrador")
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>

                        <td>
                            @Html.ActionLink("Edit", "UpdateSubject", new { id = item.ID }, new { @class = "btn btn-outline-warning" })
                            @Html.ActionLink("Details", "SpecifySubject", new { id = item.ID }, new { @class = "btn btn-outline-success" })
                            @Html.ActionLink("Delete", "DeleteSubject", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
                        </td>
                    </tr>
                }
            }
            else
            {
                if (ViewBag.rol == "Docente")
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "UpdateSubject", new { id = item.ID }, new { @class = "btn btn-outline-warning" })
                                @Html.ActionLink("Details", "SpecifySubject", new { id = item.ID }, new { @class = "btn btn-outline-success" })
                            </td>
                        </tr>
                    }
                }
            }
        }
    </tbody>

</table>
