@model TheForgiveness.Models.autoresModel

@{
    ViewBag.Title = "DeleteAuthors";
    Layout = "~/Views/Shared/DashBoard.cshtml";
     ViewBag.Style = "../Assets/Css/Subject/create.min.css";
}

<h1>Eliminar Autores</h1>

<h3 class="text-center">Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PriNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegApellido)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteAuthor","Authors", FormMethod.Post, new { @id = "delete" })) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit"  value="Delete" class="btn btn-danger" onclick="return del(event)" /> |
            @Html.ActionLink("Back to List", "GetAuthors")
        </div>
    }
</div>


<script>
    function del(e)
    {
        e.preventDefault();
        Swal.fire({
            title: 'Estas seguro?',
            text: "¡No podrás revertir esto!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, Eliminar.'
        }).then((result) => {
            if (result.value) {
                Swal.fire(
                    'Eliminado!',
                    'El autor fue eliminado',
                    'success'
                ).then(res => {
                    document.getElementById('delete').submit();
                }) 
                
            }
        });
    }
</script>
