@model IEnumerable<TheForgiveness.Models.autoresModel>

@{
    ViewBag.Title = "GetAuthors";
    Layout = "~/Views/Shared/DashBoard.cshtml";
}

<h2>GetAuthors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PriNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SegNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SegApellido)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PriNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SegNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SegApellido)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
