@model IEnumerable<TheForgiveness.Models.autoresModel>

@{
    ViewBag.Title = "Listado Autores";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../Assets/Css/Subject/create.min.css";
}

    <script>
    $(document).ready(function () {
        $('#autors').DataTable();
    });
    </script>
<h1>Listado de Autores</h1>


<table class="table display" style="width:100%" id="autors">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PriNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriApellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegApellido)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PriNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SegNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriApellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SegApellido)
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateAuthor", new { id = item.ID }, new { @class = "btn btn-outline-warning" })
                    @Html.ActionLink("Details", "SpecifyAuthor", new { id = item.ID }, new { @class = "btn btn-outline-success" })
                    @Html.ActionLink("Delete", "DeleteAuthor", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }
    </tbody>

</table>

<p>
    @Html.ActionLink("Create New", "CreateAuthor")
</p>
