@model TheForgiveness.Models.AuthorModel

@{
    ViewBag.Title = "Detalle Autores";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../../Assets/Css/Subject/create.min.css";
}

<h1>Detalle Autor</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PriNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegNombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SegApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SegApellido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "UpdateAuthor", new { id = Model.ID }, new { @class = "btn btn-outline-warning"}) |
    @Html.ActionLink("Regresar", "GetAuthors")
</p>
