@model IEnumerable<TheForgiveness.Models.TypeDocModel>

@{
    ViewBag.Title = "Listado Tipos Documento";
    Layout = "~/Views/Shared/DashBoard.cshtml";
     ViewBag.Style = "../Assets/Css/Subject/create.min.css";
}
    <script>
    $(document).ready(function () {
        $('#docs').DataTable();
    });
    </script>
<h1>Listado de tipos de documentos de identidad</h1>

<p>
    @Html.ActionLink("Crear Nuevo", "CreateDocument")
</p>
<table class="table display" id="docs">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoDocumento)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoDocumento)
                </td>
                <td>
                    @Html.ActionLink("Editar", "UpdateDocument", new { id = item.ID }, new { @class = "btn btn-outline-warning" })
                    @Html.ActionLink("Detalle", "SpecifyDocument", new { id = item.ID }, new { @class = "btn btn-outline-success" })
                    @Html.ActionLink("Eliminar", "DeleteDocument", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }
    </tbody>

</table>
