@model TheForgiveness.Models.municipioModel

@{
    ViewBag.Title = "DeleteMunicipality";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../Assets/Css/Subject/create.min.css";
}

<h1>DeleteMunicipality</h1>

<h3 class="text-center">Are you sure you want to delete this?</h3>
<hr />
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartamentoFK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartamentoFK)
        </dd>

    </dl>
    <hr />
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
            @Html.ActionLink("Back to List", "GetMunicipalities")
        </div>
    }
</div>
