@model TheForgiveness.Models.municipioModel

@{
    ViewBag.Title = "Eliminar Municipio";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../../Assets/Css/Subject/create.min.css";
    ViewBag.Js = "../../Assets/Js/Delete/sweet.js";
}

<h1>DeleteMunicipality</h1>

<h3 class="text-center">Are you sure you want to delete this?</h3>
<hr />
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartamentoFK)
        </dt>

        <dd>
            @ViewBag.Departamentos["Departamento"]
        </dd>

    </dl>
    <hr />
    @using (Html.BeginForm("DeleteMunicipality", "Municipality", FormMethod.Post, new { @id = "delete"})) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-outline-danger" onclick="return del(event, 'Municipio')"/> |
            @Html.ActionLink("Back to List", "GetMunicipalities")
        </div>
    }
</div>
