@model IEnumerable<TheForgiveness.Models.MunicipalityModel>

@{
    ViewBag.Title = "Listado Municipios";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../Assets/Css/Subject/create.min.css";
}

<h1>Listado de Municipios</h1>
<script>
    $(document).ready(function () {
        $('#municipios').DataTable();
    });
</script>
<p>
    @Html.ActionLink("Create New", "CreateMunicipality")
</p>
<table class="table display" id="municipios">
    <thead>
        <tr>
            <th>
                Indice
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipio)
            </th>

            <th>
                Departamento
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Municipio)
                </td>
                <td>
                    @foreach (var item2 in ViewBag.Departamentos.Rows)
                    {
                        var x = "";
                        if (item2["ID"] == item.DepartamentoFK)
                        {
                            x = item2["Departamento"];
                        }
                        @x
                    }
                </td>
                <td>
                    @Html.ActionLink("Edit", "UpdateMunicipality", new { id = item.ID }, new { @class = "btn btn-outline-warning" }) 
                    @Html.ActionLink("Details", "SpecifyMunicipality", new { id = item.ID }, new { @class = "btn btn-outline-success" })
                    @Html.ActionLink("Delete", "DeleteMunicipality", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
                </td>
            </tr>
        }
    </tbody>

</table>
