@model TheForgiveness.Models.municipioModel

@{
    ViewBag.Title = "SpecifyMunicipality";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../../Assets/Css/Subject/create.min.css";
}

<h1>Detalle del municipio</h1>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Municipio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Municipio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartamentoFK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartamentoFK)
        </dd>
        <dd>
            @ViewBag.Departamento
        </dd>
    </dl>
</div>
<hr />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-outline-warning"}) |
    @Html.ActionLink("Back to List", "Index")
</p>
