@model TheForgiveness.Models.subcategoiaModel

@{
    ViewBag.Title = "SpecifySubcategory";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../Assets/Css/Subject/create.min.css";
}

<h1>Detalle de SubCategoria</h1>

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Explicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Explicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Victimologia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Victimologia)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "btn btn-outline-warning"}) |
    @Html.ActionLink("Back to List", "Index")
</p>
