@model IEnumerable<TheForgiveness.Models.conceptoVictimaModel>

@{
    ViewBag.Title = "GetPerception";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../Assets/Css/Subject/create.min.css";
}

<h1>Listado de Percepciones</h1>
<script>
    $(document).ready(function () {
        $('#per').DataTable();
    });
</script>

<table class="table" id="per">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConceptoInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConceptoFinal)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (ViewBag.rol == "Estudiante")
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Persona)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ConceptoInicial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ConceptoFinal)
                        </td>
                        <td>

                            @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-outline-warning" })
                            @Html.ActionLink("Details", "SpecifyForgivenees", new { id = item.ID }, new { @class = "btn btn-outline-success" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-outline-danger" })

                        </td>
                    </tr>
                }
            }
            else
            {
                if (ViewBag.rol == "Docente")
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Persona)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConceptoInicial)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ConceptoFinal)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "SpecifyForgivenees", new { id = item.ID }, new { @class = "btn btn-outline-success" })
                            </td>
                        </tr>
                    }
                }
            }
        }
    </tbody>

</table>
