@model TheForgiveness.Models.ForgivenessModel

@{
    ViewBag.Title = "SpecifyPerception";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../Assets/Css/Subject/create.min.css";
}

<h1>Detalle Percepcion</h1>
<hr />
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Persona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConceptoInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConceptoInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConceptoFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConceptoFinal)
        </dd>

    </dl>
</div>
<p>
    @{
        if (ViewBag.rol == "Estudiante")
        {
            @Html.ActionLink("Edit", "UpdateForgivenees", new { id = Model.ID }, new { @class = "btn btn-outline-success" })
        }
    }
    @Html.ActionLink("Back to List", "GetForgiveness")
</p>
