@model TheForgiveness.Models.MyHistoryModel

@{
    ViewBag.Title = "Registrar Experiencia";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../Assets/Css/Experience/create.css";
    ViewBag.Js = "../Assets/Js/Experience/myhistory.js";
}

@section scripts{
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <!--Referencia al script hub SignalR autogenerado. -->
    <script src="~/signalr/hubs"></script>


    <script>
        $(() => {
            //Referencia al proxy autogenerado para el hub (concentrador).
            var notification = $.connection.notificationHub;
            let mysms = 'crear tu historia, seleccionando las imagenes que creas correspondientes'
            //-----PARTE 2 (Opcional): JQUERY PARA ALGUNA MAMADA-----/
            //Crear una función que el hub (concentrador) puede devolver la llamada para mostrar mensajes.
            notification.client.sendSms = (mysms) => {
                $("#perro").html(mysms);
            }
            //-----FIN PARTE 2-----/
            //Crear una función que el hub (concentrador) puede devolver la llamada para mostrar
            //El mensaje de logeo, dependiendo del tiempo que lleva sin conectarse.
            notification.client.sendSms = (sms) => {

                document.getElementById('perro').textContent = '';

                //Añadir el mensaje de bienvenida a un div.
                $('#perro').append('<strong>' + codificarHtml(mysms)
                    + '</strong>');
            };
            //Iniciar la conexión.
            $.connection.hub.start().done(() => {
                $('#idreferente').click(() => {
                    //Llamar al metodo Enviar en el hub (concentrador).
                    // => aqui hacer algo
                    //Limpiar la caja de texto y reestablecer el foco para el próximo comentario.
                    //aqui debvo limpiar el mensaje cuando lo lea o alguna mamada $('#mensaje').val('').focus();
                });
            });
        });
        //Esta función opcional codifica los mensajes a HTML para mostrarlos en la pagina.
        function codificarHtml(valor) {
            var valorCodificado = $('<div />').text(valor).html();
            return valorCodificado;
        }
    </script>
}


<div class="midiv" style=" background-image:url(../../Assets/Img/Experience/Experience.jpg);background-size:cover;">

    <h1>Crea tu historia</h1>
    <hr />

    @using (Html.BeginForm("CreateExperience", "Experience", FormMethod.Post, new { @id = "btnExperience" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-row col-11 offset-1">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group col-3 ulli">
                <label class="control-label">Donde Ocurrio:</label>
                <ul>
                    <li>
                        <input type="checkbox" id="cb-finca" name="group1[]" />
                        FINCA
                        <label for="cb-finca">
                            <img src="https://i.ytimg.com/vi/_6nx1WJnz3M/maxresdefault.jpg" class="imgApp"
                                 alt="Todo ocurrio en la finca," />
                        </label>
                    </li>
                    <li>
                        <input type="checkbox" id="cb-ciudad" name="group1[]" />
                        CIUDAD
                        <label for="cb-ciudad">
                            <img src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2018/10/01/15383924054445.jpg" class="imgApp"
                                 alt="Todo ocurrio en la ciudad," />
                        </label>
                    </li>
                </ul>

            </div>


            <div class="form-group">
                @Html.Hidden("Experiencia")
            </div>

            <div class="form-group col-3">
                <label class="control-label">Departamento</label>
                <select name="Departamento" class="form-control" onchange="cargar(this.value)">
                    <option value="default"></option>
                    @foreach (System.Data.DataRow row in ViewBag.departamento.Rows)
                    {
                        <option value=@row["ID"]>@row["Departamento"]</option>
                    }
                </select>
            </div>

            <div class="form-group col-3">
                <label class="control-label">Municipio</label>
                <select name="Municipio" class="form-control " id="Municipio">
                    <option value="default"></option>
                </select>
            </div>
            <div class="form-group col-2">
                @Html.LabelFor(model => model.TiempoExperiencia, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.TiempoExperiencia, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sucedio hace ..." } })
                @Html.ValidationMessageFor(model => model.TiempoExperiencia, "", new { @class = "text-danger" })
            </div>
            <div class="history ulli col-12">
                <fieldset>
                    <legend>Actor</legend>
                    <ul>
                        <li>
                            <input type="checkbox" id="cb-yo" name="group2[]" onclick="return saveTextFinal(event)" />
                            YO
                            <label for="cb-yo">
                                <img src="~/Assets/Img/Experience/1.jpg" class="actor"
                                     alt="El joven" />
                            </label>
                        </li>
                        <li>
                            <input type="checkbox" id="cb-el" name="group2[]" onclick="return saveTextFinal(event)" />
                            HEMANO
                            <label for="cb-el">
                                <img src="~/Assets/Img/Experience/2.jpg" class="actor"
                                     alt="El joven" />
                            </label>
                        </li>
                        <li>
                            <input type="checkbox" id="cb-ella" name="group2[]" onclick="return saveTextFinal(event)" />
                            HERMANA
                            <label for="cb-ella">
                                <img src="~/Assets/Img/Experience/3.jpg" class="actor"
                                     alt="La joven" />
                            </label>
                        </li>
                        <li>
                            <input type="checkbox" id="cb-senor" name="group2[]" onclick="return saveTextFinal(event)" />
                            PAPA
                            <label for="cb-senor">
                                <img src="~/Assets/Img/Experience/6.jpg" class="actor"
                                     alt="El señor" />
                            </label>
                        </li>
                        <li>
                            <input type="checkbox" id="cb-senora" name="group2[]" onclick="return saveTextFinal(event)" />
                            MAMA
                            <label for="cb-senora">
                                <img src="~/Assets/Img/Experience/4.jpg" class="actor"
                                     alt="La señora" />
                            </label>
                        </li>

                        <li>
                            <input type="checkbox" id="cb-abuela" name="group2[]" onclick="return saveTextFinal(event)" />
                            OROS FAMILIARES
                            <label for="cb-abuela">
                                <img src="~/Assets/Img/Experience/5.jpg" class="actor"
                                     alt="Otros familiares" />
                            </label>
                        </li>
                    </ul>
                </fieldset>
                <fieldset>
                    <legend>Suceso</legend>
                    <ul class="suceso">
                        <li>
                            <input type="checkbox" id="cb-asesinato" name="group3[]" onclick="return saveTextFinal(event)" />
                            <label for="cb-asesinato">
                                <img src="https://www.wradio.com.co/images/4002166_n_imgg.jpg" class="suceso"
                                     alt="fue Asesinado" />
                            </label>
                        </li>
                        <li>
                            <input type="checkbox" id="cb-secuestro" name="group3[]" onclick="return saveTextFinal(event)" />
                            <label for="cb-secuestro">
                                <img src="https://www.lineadecontraste.com/wp-content/uploads/2017/03/secuestro.jpg" class="suceso"
                                     alt="fue secuestrado" />
                            </label>
                        </li>
                        <li>
                            <input type="checkbox" id="cb-violacion" name="group3[]" onclick="return saveTextFinal(event)" />
                            <label for="cb-violacion">
                                <img src="https://www.alertanacional.es/wp-content/uploads/2019/06/ca1616edb4444677b5dfdbd1b69e6ea1.jpg" class="suceso"
                                     alt="fue Extorcionado" />
                            </label>
                        </li>
                        <li>
                            <input type="checkbox" id="cb-desplazamiento" name="group3[]" onclick="return saveTextFinal(event)" />
                            <label for="cb-desplazamiento">
                                <img src="https://conexionmas.com/wp-content/uploads/2019/05/Desplazados-e1481538333709.jpg" class="suceso"
                                     alt="fue desplazado forzosamente" />
                            </label>
                        </li>
                    </ul>
                </fieldset>
                <fieldset>
                    <legend>Motivo</legend>
                    <ul>
                        <li>
                            <input type="checkbox" id="cb-dinero" name="group4[]" onclick="return saveTextFinal(event)" />
                            DINERO
                            <label for="cb-dinero">
                                <img src="https://mocionesdevida.com/wp-content/uploads/2019/03/Dinero.jpg" class="motivo"
                                     alt="Por dinero." />
                            </label>
                        </li>
                        <li>
                            <input type="checkbox" id="cb-comida" name="group4[]" onclick="return saveTextFinal(event)" />
                            POR COMIDA
                            <label for="cb-comida">
                                <img src="https://mayabequeando.files.wordpress.com/2018/02/cultivos-varios.jpg" class="motivo"
                                     alt="Por comida." />
                            </label>
                        </li>
                        <li>
                            <input type="checkbox" id="cb-cultivos" name="group4[]" onclick="return saveTextFinal(event)" />
                            POR CULTIVOS ILICITOS
                            <label for="cb-cultivos">
                                <img src="https://www.eluniversal.com.mx/sites/default/files/2019/05/20/la_marihuana_tiene_museo_en_la_cdmx_1.jpg" class="motivo"
                                     alt="Por cultivos ilicitos." />
                            </label>
                        </li>
                        <li>
                            <input type="checkbox" id="cb-casa" name="group4[]" onclick="return saveTextFinal(event)" />
                            POR LA CASA
                            <label for="cb-casa">
                                <img src="https://image.freepik.com/vector-gratis/casa-dos-pisos_1308-16176.jpg" class="motivo"
                                     alt="Por la casa." />
                            </label>
                        </li>
                        <li>
                            <input type="checkbox" id="cb-ver" name="group4[]" onclick="return saveTextFinal(event)" />
                            POR SE TESTIGO
                            <label for="cb-ver">
                                <img src="https://www.elheraldo.com.ar/fotos/2018/08/10_vision.jpg" class="motivo"
                                     alt="Por ver lo que no debia." />
                            </label>
                        </li>
                        <li>
                            <input type="checkbox" id="cb-colaboracion" name="group4[]" onclick="return saveTextFinal(event)" />
                            OTROS GP ARMADOS
                            <label for="cb-colaboracion">
                                <img src="https://3.bp.blogspot.com/-qscaTCCDmZ8/V5eSuWjDqzI/AAAAAAAAFwo/wBjLP7lxtNEWdjQJGpugn36PUy559UF2wCLcB/s640/bacrim.jpg" class="motivo"
                                     alt="Por colaborar con otros grupos armados." />
                            </label>
                        </li>
                    </ul>
                </fieldset>
            </div>
            <hr />
            <div class="form-group offset-5 col-2">
                <input type="submit" value="Crear Historia" class="btn btn-outline-success" />
            </div>
        </div>


    }

    <script>
    @{
        @:var municipio = @Html.Raw(ViewData["municipio"].ToString()); ;
    }
    function cargar(id) {
        let ele = document.getElementById('Municipio');
        if (ele.length > 1) {
            let limite = ele.length;//defino variable, sino el length se refresca
            for (let i = 0; i < limite; i++) {
                ele.remove(ele.children[i]);
            }
            let option = document.createElement("option");
            ele.add(option);
        }
        for (let i = 0; i < municipio.length; i++) {
            if (municipio[i].Departamento === parseInt(id)) {
                let option = document.createElement("option");
                option.text = municipio[i].Municipio;
                option.value = municipio[i].ID;
                ele.add(option);
            }
        }
        }
        $('input[type="checkbox"]').on('change', function () {
            $('input[name="' + this.name + '"]').not(this).prop('checked', false);
        });

    </script>

    <div>
        @Html.ActionLink("Regresar", "GetExperiences")
    </div>
</div>
