@model IEnumerable<TheForgiveness.Models.experienciaModel>

@{
    ViewBag.Title = "GetExperiences";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../Assets/Css/Subject/create.min.css";
}
<script>
    $(document).ready(function () {
        $('#exp').DataTable();
    });
</script>
<h1>Listado de experiencias</h1>
<hr />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="exp">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaExperiencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experiencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Persona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Municipio)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (ViewBag.rol == "Estudiante")
            {
                foreach (var item in Model)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaExperiencia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Experiencia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Persona)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Municipio)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "UpdateExperience", new { id = item.ID }, new { @class = "btn btn-outline-warning" })
                            @Html.ActionLink("Details", "SpecifyExperiences", new { id = item.ID }, new { @class = "btn btn-outline-success" })
                            @Html.ActionLink("Delete", "DeleteExperience", new { id = item.ID }, new { @class = "btn btn-outline-danger" })
                        </td>
                    </tr>
                }
            }
            else
            {
                if (ViewBag.rol == "Administrador")
                {
                    foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.FechaExperiencia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Experiencia)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Persona)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Municipio)
                            </td>
                            <td>

                                @Html.ActionLink("Details", "SpecifyExperiences", new { id = item.ID }, new { @class = "btn btn-outline-success" })

                            </td>
                        </tr>
                    }
                }
            }
        }
    </tbody>

</table>
