@model IEnumerable<TheForgiveness.Models.departamentoModel>

@{
    ViewBag.Title = "GetDepartment";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../Assets/Css/Subject/create.min.css";
}
<script>
    $(document).ready(function () {
        $('#GetDepartments').DataTable();
    });
</script>
<h1>Listado de Departamentos</h1>

<p>
    @Html.ActionLink("Create New", "CreateDepartment")
</p>
<table class="table display" style="width:100%" id="GetDepartments">
    <thead>
        <tr>
            <th>
                Indice
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento)
                </td>

                <td>
                    @Html.ActionLink("Update", "UpdateDepartment", new { id = item.ID }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Details", "SpecifyDepartment", new { id = item.ID }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Delete", "DeleteDepartment", new { id = item.ID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>


