@model TheForgiveness.Models.DepartmentModel

@{
    ViewBag.Title = "Detalle Departamento";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../../Assets/Css/Subject/create.min.css";
}

<h1>Detalle del departamento</h1>

<div>

    <hr />
    <dl class="d-lg-table">
        <dt>
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaisFK)
        </dt>

        <dd>
            @ViewBag.Pais
        </dd>

    </dl>
</div>
<hr />
<p>
    @Html.ActionLink("Editar", "UpdateDepartment", new { id = Model.ID }, new { @class = "btn btn-outline-warning"}) |
    @Html.ActionLink("Regresar", "GetDepartments",null, new { @class = "btn btn-outline-success"})
</p>
