@model IEnumerable<TheForgiveness.Models.percepcionPostconfictoModel>

@{
    ViewBag.Title = "Listado Percepciones";
    Layout = "~/Views/Shared/DashBoard.cshtml";
    ViewBag.Style = "../Assets/Css/Subject/create.min.css";
}

<script>
    $(document).ready(function () {
        $('#for').DataTable();
    });
</script>

<h1>Listado de Percepcion</h1>
<hr />

<p>
    @Html.ActionLink("Create New", "CreatePerception")
</p>
<table class="table" id="for">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.rol == "Estudiante")
{
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "UpdatePerception", new { id = item.ID }, new { @class = "btn btn-outline-warning" }) 
                        @Html.ActionLink("Details", "SpecifyPerception", new { id = item.ID }, new { @class = "btn btn-outline-success" }) 
                        
                    </td>
                </tr>
            }
        }
        else 
        { 
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "SpecifyPerception", new { id = item.ID }, new { @class = "btn btn-outline-success" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
