@model TheForgiveness.Models.conceptoVictimaModel

@{
    ViewBag.Title = "SpecifyPerception";
    Layout = "~/Views/Shared/DashBoard.cshtml";
}

<h2>SpecifyPerception</h2>

<div>
    <h4>conceptoVictimaModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Victimologia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Victimologia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConceptoInicial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConceptoInicial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConceptoFinal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConceptoFinal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
